body {
  background-image: url("pastel.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}

.body {
  font-family: "Inter", sans-serif;
}

form#search-bar {
  border-radius: 80px;
}
input.form-control.city-input {
  width: 400px;
}
div.search-panel {
  padding: 20px 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

.search-button,
.search-form {
  display: inline-block;
}
form#search-bar.input-group {
  padding: 0;
  margin: 0;
  border-right: none;
}
button#current-location {
  border-radius: 25px;
  border-left: none;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid rgb(201, 199, 199);
  padding: 6px 15px;
  background-color: #e9ecef;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}
button#current-location:hover {
  background-color: rgb(204, 202, 202);
}
button#current-location:active {
  background-color: #e9ecef;
}

div.input-group-text,
input.form-control {
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

.row-one {
  text-align: center;
  display: flex;
  align-items: center;
}
.column-one {
  padding: 7px;
}
.column-two {
  background-color: rgb(238, 238, 238, 0.3);
  padding: 20px;
  border-radius: 20px;
}
.subrow-one {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h5,
.image,
.text,
.row-one {
  color: white;
}
.column-two p {
  margin: 0;
}
.parameters {
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}
@media screen and (max-width: 990px) {
  .parameters {
    font-weight: 600;
    font-size: 15px;
  }
  input.form-control.city-input {
    width: 150px;
  }
  .footer {
    font-size: 12px;
  }
}
.image-now,
.image-forecast,
.text,
.input-group-text {
  display: inline-block;
}
.image-now,
.text {
  vertical-align: middle;
}
#icon-now {
  height: 120px;
}
.icon-hourly,
.icon-daily {
  font-size: 40px;
}
.image-forecast {
  font-size: 40px;
}
#degrees-now {
  font-size: 50px;
}
#temp-nowC {
  font-size: 30px;
}
#temp-nowF {
  font-size: 20px;
}
#degrees-forecast {
  font-size: 15px;
}
#description-now,
.description-hourly,
.description-daily {
  text-transform: capitalize;
  font-weight: 500;
}
a#temp-nowC,
a#temp-nowF {
  text-decoration: none;
  color: white;
}
.high {
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}
div.scrolling-wrapper {
  height: 230px;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
div.card {
  display: inline-block;
  background-color: rgb(238, 238, 238, 0.3);
}
.footer {
  color: white;
}
.href {
  color: #ec6e4c;
}
.href:hover {
  color: #48484a;
}
