body {
  background-image: url("pastel.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}
#search-bar {
  padding: 15px 20px 15px 45px;
  max-width: 500px;
  border-radius: 80px;
  margin: 0 auto;
}
div.input-group-text,
input.form-control {
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}
button {
  border: none;
  padding: inherit;
}
.row-one {
  text-align: center;
  display: flex;
  align-items: center;
}
.column-one {
  padding: 7px;
}
.column-two {
  background-color: rgb(238, 238, 238, 0.3);
  padding: 20px;
  border-radius: 20px;
}
.subrow-one {
  margin-bottom: 20px;
}

h1,
h2,
h3,
.image,
.text,
.row-one {
  color: white;
}
.column-two p {
  margin: 0;
}
.parameters {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: 990px) {
  .parameters {
    font-weight: 600;
    font-size: 15px;
  }
}
.image,
.text {
  display: inline-block;
}
.image {
  font-size: 100px;
}
#degrees-now {
  font-size: 50px;
}
a#temp-nowC,
a#temp-nowF {
  text-decoration: none;
  color: white;
}
div.scrolling-wrapper {
  height: 150px;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
div.card {
  display: inline-block;
}
